@page
@using API.Controllers;
@using CAPA_DATOS.Security; 
@using CAPA_DATOS;
@using DataBaseModel;
@using CAPA_NEGOCIO.Gestion_Pagos.Operations
@{
    string? identify = HttpContext?.Session.GetString("seassonKey");
     if (!SecurityController.HavePermission(identify, Permissions.GESTION_ESTUDIANTES_PROPIOS))
    {
        Response.Redirect("/Security/Login");
        return;
    }
    var pagos = PagosOperation.GetSaldoPendiente(identify);

}
<script src="~/js/html2pdf.js"></script>
@if(true){
    <div id="Main" class="app-container"><h3 style="text-align: center;">Está opcion se habilitará próximamente.</h3></div>
}
else if(!pagos.IsInsolvente){
<script type="module" >
    import {HistorialView} from "/Gestion_Estudiantes/HistorialView.mjs";
    window.onload = ()=> {
        Main.append(new HistorialView());
    }
</script>
<div id="Main" class="app-container"></div>
}else{
    <div id="Main" class="app-container"><h3 style="text-align: center;">Para poder visualizar las notas, usted debe estar solvente</h3></div>
}

