@using API.Controllers
@using CAPA_DATOS.Security
@using DataBaseModel
@{
    string? Identify = Context.Session?.GetString("seassonKey");
    var PageConfig = Config.pageConfig();
}

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <partial name="Menu/NavbarBrand" />

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Dashboard</li>

                <li class="menuParentOption">
                    <a class="/">
                        <i class="bx bx-home-alt icon nav-icon"></i>
                        <span class="menu-item" data-key="t-inicio">Inicio</span>
                    </a>
                </li>
                @if (SecurityController.HavePermission(Identify, Permissions.PERFIL_ACCESS))
                {
                    <li class="menuParentOption">
                        <a class="" href="~/Gestion_Usuarios/Perfil">
                            <i class="bx bx-user icon nav-icon"></i>
                            <span class="menu-item" data-key="t-perfil">Mi Perfil</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (SecurityController.HavePermission(Identify, Permissions.PERFIL_ACCESS))
                            {
                                <li><a href="~/Gestion_Usuarios/Perfil" data-key="t-ecommerce">Mi Perfil</a></li>
                            }
                            @if (SecurityController.HavePermission(Identify, Permissions.ADMINISTRAR_USUARIOS))
                            {
                                <li><a href="~/Gestion_Usuarios/ProfilesManager" data-key="t-ecommerce">Solicitudes de actualización</a></li>
                            }
                        </ul>
                    </li>
                }
                @if (SecurityController.HavePermission(Identify, Permissions.GESTION_CLASES, Permissions.GESTION_CLASES_ASIGNADAS))
                {
                    <li class="menuParentOption">
                        <a class="" href="javascript: void(0);">
                            <i class="bx bxs-book-content icon nav-icon"></i>
                            <span class="menu-item" data-key="t-boletin">Acta en Línea</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (SecurityController.HavePermission(Identify, Permissions.GESTION_CLASES))
                            {
                                <li><a href="~/Gestion_Cursos/Materias" data-key="t-ecommerce">Materias</a></li>
                            }
                            @if (SecurityController.HavePermission(Identify, Permissions.GESTION_CLASES))
                            {
                                <li><a href="~/Gestion_Cursos/Gestion_Grados" data-key="t-ecommerce">Grados</a></li>
                            }
                            @if (SecurityController.HavePermission(Identify, Permissions.GESTION_CLASES_ASIGNADAS))
                            {
                                <li><a href="~/Gestion_Cursos/Materias_Docente" data-key="t-ecommerce">Mis Materias</a></li>
                            }
                        </ul>
                    </li>
                }
                @if (SecurityController.HavePermission(Identify, Permissions.GESTION_ESTUDIANTES_PROPIOS))
                {
                    <li class="menuParentOption">
                        <a class="" href="javascript: void(0);">
                            <i class="bx bxs-book-content icon nav-icon"></i>
                            <span class="menu-item" data-key="t-boletin">Boletín en Línea</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">

                            <li><a href="~/Gestion_Estudiantes/Historial" data-key="t-ecommerce">Boletín</a></li>

                        </ul>
                    </li>
                }
                <li class="menuParentOption">
                    <a class="" href="javascript: void(0);">
                        <i class="bx bx-message-rounded-dots icon nav-icon"></i>
                        <span class="menu-item" data-key="t-mensajes">Centro de Mensajes</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        @if (SecurityController.HavePermission(Identify, Permissions.SEND_MESSAGE))
                        {
                            <li><a href="~/Mensajes/" data-key="t-ecommerce">Mensajes</a></li>
                        }
                    </ul>
                </li>
                <li class="menuParentOption">
                    <a class="has-arrow" href="javascript: void(0);">
                        <i class="bx bxs-credit-card-alt icon nav-icon"></i>
                        <span class="menu-item" data-key="t-pagos">Pagos</span>
                        @* <span class="badge rounded-pill bg-primary">2</span> *@
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="index.html" data-key="t-ecommerce">Ecommerce</a></li>
                        <li><a href="dashboard-sales.html" data-key="t-sales">Sales</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>

@* <nav>
<a class="title-collapse">TRANSACCIONES</a>
<a class="menu-item" id="Home" asp-area="" asp-page="/">HOME sdf</a>
@if (SecurityController.HavePermission(Permissions.GESTION_EMPEÑOS.ToString(), Identify))
{
<a class="title-collapse" id="CollapseMenu" onclick="changeActive(this)">EXAMPLE</a>
<div class="collapse">
<a class="menu-item" id="EXAMPLE" asp-area="" asp-page="/PagesViews/EXAMPLE">EXAMPLE</a>
</div>
}
</nav> *@
