@using API.Controllers
@using CAPA_DATOS.Security
@using DataBaseModel
@{
	string? Identify = Context.Session?.GetString("seassonKey");
	var PageConfig = Config.pageConfig();
}

<!-- Left Menu Start -->


<button id="backButton" style="display: none;">
	<i class="bx bx-arrow-back"></i> Inicio
</button>
<ul class="metismenu list-unstyled" id="side-menu">
	<li class="menuParentOption">
		<a href="~/">
			<i class="bx bx-home-alt icon nav-icon"></i>
			<span class="menu-item" data-key="t-inicio">Inicio</span>
		</a>
	</li>
	@if (!SecurityController.HavePermission(Identify, Permissions.ADMIN_PANEL_ACCESS) && SecurityController.HavePermission(Identify, Permissions.PERFIL_ACCESS))
	{
		<li class="menuParentOption">
			<a class="" href="~/Gestion_Usuarios/Perfil">
				<i class="bx bx-user icon nav-icon"></i>
				<span class="menu-item" data-key="t-perfil">Mi Perfil</span>
			</a>
		</li>
	}
	@if (SecurityController.HavePermission(Identify, Permissions.ADMINISTRAR_USUARIOS))
	{
		<li class="menuParentOption">
			<a href="~/Gestion_Usuarios/ProfilesManager" data-key="t-ecommerce">
				<i class="bx bx-loader icon nav-icon"></i>
				<span>Solicitudes de actualización</span>
			</a>
		</li>
	}
	@if (SecurityController.HavePermission(Identify, Permissions.GESTION_CLASES,
	Permissions.GESTION_CLASES_ASIGNADAS))
	{
		<li class="menuParentOption">
			<a class="" href="javascript: void(0);">
				<i class="bx bxs-book-content icon nav-icon"></i>
				<span class="menu-item" data-key="t-boletin">Acta en Línea</span>
			</a>
			<ul class="sub-menu" aria-expanded="false">
				@if (!SecurityController.HavePermission(Identify, Permissions.ADMIN_PANEL_ACCESS) && SecurityController.HavePermission(Identify, Permissions.GESTION_CLASES))
				{
					<li><a href="~/Gestion_Cursos/Materias" data-key="t-ecommerce">Materias</a></li>
				}
				@if (SecurityController.HavePermission(Identify, Permissions.GESTION_CLASES))
				{
					<li><a href="~/Gestion_Cursos/Gestion_Grados" data-key="t-ecommerce">Generar Baremos</a></li>
				}
				@if (!SecurityController.HavePermission(Identify, Permissions.ADMIN_PANEL_ACCESS) && SecurityController.HavePermission(Identify, Permissions.GESTION_CLASES_ASIGNADAS))
				{
					<li><a href="~/Gestion_Cursos/Materias_Docente" data-key="t-ecommerce">Mis Materias</a></li>
				}
			</ul>
		</li>
	}
	@if (!SecurityController.HavePermission(Identify, Permissions.ADMIN_PANEL_ACCESS) && SecurityController.HavePermission(Identify,
	Permissions.GESTION_ESTUDIANTES_PROPIOS))
	{
		<li class="menuParentOption">
			<a href="~/Gestion_Estudiantes/Historial" href="javascript: void(0);">
				<i class="bx bxs-book-content icon nav-icon"></i>
				<span class="menu-item" data-key="t-boletin">Boletín en Línea</span>
			</a>
		</li>
	}
	@if (SecurityController.HavePermission(Identify, Permissions.NOTIFICACIONES_READER) &&
	SecurityController.HavePermission(Identify, Permissions.SEND_MESSAGE))
	{
		<li class="menuParentOption">
			<a class="" href="javascript: void(0);">
				<i class="bx bx-message-rounded-dots icon nav-icon"></i>
				<span class="menu-item" data-key="t-mensajes">Centro de Notificaciones</span>
			</a>
			<ul class="sub-menu" aria-expanded="false">
				@if (SecurityController.HavePermission(Identify, Permissions.NOTIFICACIONES_READER))
				{
					<li><a href="~/Mensajes/Notificaciones" data-key="t-ecommerce">Notificaciones</a></li>
				}
				@if (SecurityController.HavePermission(Identify, Permissions.SEND_MESSAGE))
				{
					<li><a href="~/Mensajes/NotificacionesManager" data-key="t-ecommerce">Administrador de
							notificaciones</a></li>
				}
				@if (SecurityController.HavePermission(Identify, Permissions.SEND_MESSAGE))
				{
					<li><a href="~/update/NotificacionMatriculaActualizacion" data-key="t-ecommerce">Notificación Matrícula
							Actualización</a></li>
				}
			</ul>
		</li>
	}
	@if (SecurityController.HavePermission(Identify, Permissions.NOTIFICACIONES_READER) && 	!SecurityController.HavePermission(Identify, Permissions.SEND_MESSAGE))
	{
		<li class="menuParentOption">			
			<a class="" href="~/Mensajes/Notificaciones">
				<i class="bx bx-message-rounded-dots icon nav-icon"></i>
				<span class="menu-item" data-key="t-mensajes">Notificaciones</span>
			</a>
		</li>
	}
	@if (!SecurityController.HavePermission(Identify,Permissions.ADMIN_PANEL_ACCESS) && SecurityController.HavePermission(Identify,Permissions.GESTION_ESTUDIANTES_PROPIOS))
	{

		<li class="menuParentOption">
			<a class="has-arrow" href="javascript: void(0);">
				<i class="bx bxs-credit-card-alt icon nav-icon"></i>
				<span class="menu-item" data-key="t-pagos">Pagos</span>
				@* <span class="badge rounded-pill bg-primary">2</span> *@
			</a>
			<ul class="sub-menu" aria-expanded="false">
				<li><a href="~/Gestion_Pagos/Pagos_Pendientes" data-key="t-ecommerce">Realizar pagos</a></li>
				<li><a href="~/Gestion_Pagos/Historial_Pagos" data-key="t-sales">Pagos pendientes</a></li>
			</ul>
		</li>
	}
	@if (SecurityController.HavePermission(Identify, Permissions.ADMIN_PANEL_ACCESS) || SecurityController.HavePermission(Identify, Permissions.REPORTE_ACCESS))
	{    
		<li class="menuParentOption">
			<a class="has-arrow" href="javascript: void(0);">
			<i class="icon nav-icon fa fa-file" aria-hidden="true"></i>
				<span class="menu-item" data-key="t-report">Informes</span>
				@* <span class="badge rounded-pill bg-primary">2</span> *@
			</a>
			<ul class="sub-menu" aria-expanded="false">
				<li><a href="~/Reports/Recorridos" data-key="t-report">Informes de alumnos - Recorrido</a></li>
				<li><a href="~/Reports/PagosReport" data-key="t-report">Informes de pagos</a></li>
			</ul>
		</li>
	}
</ul>


@* <nav>
<a class="title-collapse">TRANSACCIONES</a>
<a class="menu-item" id="Home" asp-area="" asp-page="/">HOME sdf</a>
@if (SecurityController.HavePermission(Permissions.GESTION_EMPEÑOS.ToString(), Identify))
{
<a class="title-collapse" id="CollapseMenu" onclick="changeActive(this)">EXAMPLE</a>
<div class="collapse">
<a class="menu-item" id="EXAMPLE" asp-area="" asp-page="/PagesViews/EXAMPLE">EXAMPLE</a>
</div>
}
</nav> *@
