@using API.Controllers
@using CAPA_DATOS.Security
@using DataBaseModel
@{
    string Identify = Context.Session.GetString("seassonKey");
    var pageConfig = Config.pageConfig();
}

<div class="navbar-brand-box">
    <a href="javascript:void(0)" class="logo logo-dark">
        <span class="logo-sm">
            <img src="@pageConfig.MEDIA_IMG_PATH@pageConfig.LOGO_PRINCIPAL" alt="">
        </span>
        <span class="logo-lg">
            <img src="@pageConfig.MEDIA_IMG_PATH@pageConfig.LOGO_PRINCIPAL" alt="">
        </span>
    </a>

    <a href="javascript:void(0)" class="logo logo-light">
        <span class="logo-lg">
            <img src="@pageConfig.MEDIA_IMG_PATH@pageConfig.LOGO_PRINCIPAL" alt="">
        </span>
        <span class="logo-sm">
            <img src="@pageConfig.MEDIA_IMG_PATH@pageConfig.LOGO_PRINCIPAL" alt="">
        </span>
    </a>
</div>

<button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn" id="btnMenu">
    <i class="bx bx-menu align-middle"></i>
</button>