@using API.Controllers
@using CAPA_DATOS.Security
@using CAPA_NEGOCIO.Gestion_Pagos.Operations
@using DataBaseModel
@{
	string Identify = Context.Session.GetString("seassonKey");
	if (Identify != null)
	{
		var estudiantes = Parientes.GetOwEstudiantes(Identify, new Estudiantes());
		if (estudiantes.Count == 0)
		{
			<div class="alert alert-warning alert-dismissible alert-label-icon label-arrow fade show pagos-alert" role="alert">
				<i class="mdi mdi-alert-outline label-icon"></i>Actualmente no cuenta con estudiantes matriculados
			</div>
		}
		else
		{
			var pagos = PagosOperation.GetSaldoPendiente(Identify);
			if (pagos.Amount > 0)
			{
				<div class="alert alert-warning alert-dismissible alert-label-icon label-arrow fade show pagos-alert" role="alert">
					<i class="mdi mdi-alert-outline label-icon"></i>Insolvente desde <strong>"@pagos.Mes"</strong>
					<a href="~/Gestion_Pagos/Pagos_Pendientes">Estado de cuenta/Pagar aquí</a>
				</div>
			}
			else
			{
				<div class="alert alert-success alert-dismissible alert-label-icon label-arrow fade show pagos-alert" role="alert">
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					<i class="mdi mdi-alert-outline label-icon"></i>Actualmente no tiene pagos pendientes
				</div>
			}
		}
	}

}
