@page
@using API.Controllers;
@using CAPA_DATOS.Security; 
@{
   
    if (!SecurityController.Auth(HttpContext.Session.GetString("seassonKey")))
    {
        Response.Redirect("./Security/Login");
        return;
    }

}
<div id="Main">
    <img class="mg-boletin" height="500px" src="/Media/img/inicio.jpeg" alt="Header Avatar">
</div>

<style>
    #Main {
        display: flex;
        justify-content: center;
        align-items: center;        
        
    }

    img.mg-boletin {
        width: 1000px;
        height: 700px;
        
    }
</style>