@page
@using API.Controllers;
@using CAPA_DATOS.Security;
@{
    string? identify = HttpContext.Session?.GetString("seassonKey") ?? "";  
    /*var admin = new Security_Users { Id_User = 1}.Find<Security_Users>();
    admin.Password = EncrypterServices.Encrypt("Acceso1");
    admin.Update();*/

    if (!SecurityController.Auth(identify))
    {
        Response.Redirect("./Security/Login");
        return;
    } else if (!SecurityController.HavePermission(identify, Permissions.UPDATE_FAMILY_DATA) &&  SecurityController.HavePermission(identify, Permissions.UPDATE_FAMILY_DATA))
    {
        Response.Redirect("./update/index");
        return;
    } 

}
@if (!SecurityController.HavePermission(HttpContext.Session.GetString("seassonKey"), Permissions.ADMIN_PANEL_ACCESS))
{
    <div id="Main">
        <img class="mg-boletin" height="500px" src="/Media/img/inicio.jpeg" alt="Header Avatar">
    </div>

    <style>
        #Main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img.mg-boletin {
            width: 1000px;
            height: auto;
            max-width: 100%;
        }
    </style>
}
