@page
@using API.Controllers;
@using APPCORE.Security; 
@using APPCORE;
@using DataBaseModel;
@{
    string? identify = HttpContext?.Session.GetString("seassonKey");
     if (!SecurityController.HavePermission(identify, Permissions.GESTION_CLASES_ASIGNADAS))
    {
        Response.Redirect("/Security/Login");
        return;
    }

}
<script src="~/js/html2pdf.js"></script>
<script type="module" >
    import {MateriasPropiasView} from "/Gestion_Cursos/MateriasPropiasView.js";
    window.onload = ()=> {
        Main.append(new MateriasPropiasView());
    }
</script>
<div id="Main" class="app-container"></div>