@page
@using API.Controllers;
@using APPCORE.Security; 
@using APPCORE;
@using DataBaseModel;
@{
    string? identify = HttpContext?.Session.GetString("sessionKey");
     if (!SecurityController.HavePermission(identify, Permissions.GESTION_CLASES))
    {
        Response.Redirect("/Security/Login");
        return;
    }

}
<script src="~/js/html2pdf.js"></script>
<script type="module" >
    import {MateriasView} from "/Gestion_Cursos/MateriasView.js";
    window.onload = ()=> {
        Main.append(new MateriasView());
    }
</script>
<div id="Main" class="app-container"></div>