[submodule "UI/wwwroot/WDevCore"]
	path = UI/wwwroot/WDevCore
	url = https://github.com/Wilber1987/WDevCore
	branch = cca
[submodule "UI/CSharpAttributes"]
	path = UI/CSharpAttributes
	url = https://github.com/Wilber1987/CSharpAttributes
	branch = cca
[submodule "CAPA_DATOS"]
	path = CAPA_DATOS
	url = https://github.com/Wilber1987/CAPA_DATOS
	branch = cca
