<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/icons.css">
    <link rel="stylesheet" href="~/css/app.css">
    <link rel="stylesheet" href="~/css/site.css">
    <title>@ViewData["Title"] </title>

    @*
    <link rel="stylesheet" href="~/css/AdminTemplate.css" /> *@
    <script type="module">
        import { WSecurity } from "/WDevCore/Security/WSecurity.js";
            const logout = () => {
                WSecurity.LogOut();
            }
            window.addEventListener("load", () => {
                //active nav
                document.querySelectorAll(".menu-item").forEach(item => {
                    if (location.href.includes(item.id)) {
                        item.className = "active";
                    }
                })
                //logOut
                btnLogOut.onclick = logout;

            })
            //logOut
            btnLogOut.onclick = logout;
    </script>
</head>


<body cz-shortcut-listen="true" data-sidebar-size="lg" id="AdminTemplate">
    <div id="layout_wrapper">
        <header id="page-topbar" class="isvertical-topbar">
            <partial name="Menu/linksHeader" />
        </header>


        <partial name="Menu/MainMenu" />
        <partial name="Menu/headerCollapse" />

        @* RenderBody() contenido de las paginas que usan el layout razor *@
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


    <!-- JAVASCRIPT -->
    <script src="~/js/template/bootstrap.bundle.min.js"></script>
    <script src="~/js/template/metismenujs.min.js"></script>
    <script src="~/js/template/simplebar.min.js"></script>
    <script src="~/js/template/eva.min.js"></script>
    <script src="~/js/app.js"></script>
</body>

</html>