@page
@using API.Controllers
@{
    if (!SecurityController.Auth())
    {
        Response.Redirect("../LoginView");
        return;
    }   
}
<a class="nav-link text-dark" asp-area="" asp-page="/PagesViews/Transactional_ConfiguracionesView"> Transactional_Configuraciones</a>
