@import url(./variables.css);
@import url(./template.css); 
.logo-sm{
    margin-left: -16px;
}

.logo-lg > img, .logo-sm > img{
    height: 60px !important;
}

#page-topbar, .vertical-menu{
    background-color:var(--font-primary-color) !important;
    box-shadow: 0 0 5px #0000002f;
}

#page-topbar > .navbar-header {
    color:var(--font-primary-color) !important;
}

.vertical-menu-btn:hover{
  background: var(--base-link-menu) !important;
    color: var(--font-primary-color) !important;
}

#sidebar-menu ul li.mm-active>a {
    background: var(--base-link-menu) !important;
    color: var(--font-primary-color) !important;
}

#sidebar-menu ul li.menuParentOption>a:hover {
    background: var(--base-link-menu) !important;
    color: var(--font-primary-color) !important;
}
.sub-menu>li>a:hover, .sub-menu>li>a:hover::before{
    color: var(--base-secundary-link) !important;
    font-weight: 100 !important;
}