@import url(./variables.css);
@import url(./template.css); 
/* .logo-sm{
    margin-left: -16px;
} */

.navbar-brand-box{
    text-align: center !important;
}

.logo-lg > img{
    height: 82px !important;
    align-items: center !important;
} 

.logo-sm > img{
    height: 40px !important;
    align-items: center !important;
}

.vertical-menu{
    background-color:var(--primary-color) !important;
    box-shadow: 0 0 5px #0000002f;
}

#page-topbar{
    background-color:var(--primary-color) !important;
    border-bottom: 5px solid var(--base-secundary-link);
}

#page-topbar > .navbar-header {
    color:var(--font-primary-color) !important;
    height: 60px !important;
}

.page-content {
    padding: 110px 10px;
}
.alert-dismissible {
    padding-right: unset;
}
.page-content.admin {
    padding: 10px calc(24px / 2) 60px calc(24px / 2);
}
.vertical-menu-btn:hover{
  background: var(--bs-btn-active-bg) !important;
    color: var(--font-primary-color) !important;
}

#sidebar-menu ul li.mm-active>a {
    background: var(--bs-btn-active-bg) !important;
    color: var(--bs-white) !important;
}

#sidebar-menu ul li.menuParentOption>a:hover {
    background: var(--bs-btn-active-bg) !important;
    color: var(--font-primary-color) !important;
}
.sub-menu>li>a:hover, .sub-menu>li>a:hover::before{
    color: var(--base-secundary-link) !important;
    font-weight: 100 !important;
}
.main-content{
    margin-top: 2vh !important;
}
.notification-item {
    cursor: pointer;
    & .notification-item-body .mb-0 {
        max-width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        
    }
}