:root {
    --primary-color: rgb(9, 68, 108);
    --secundary-color: rgb(255, 255, 255);
    --tertiary-color: rgba(0, 0, 0, 0);
    --fourth-color: rgba(255, 255, 255, 0.9);
    ;
    --font: "Open Sans", sans-serif;
    --font-primary-color: #ffffff;
    --font-secundary-color: #ffffff;
    --font-tertiary-color: rgb(0, 191, 165);
    --font-fourth-color: #595959;


    --base-link-menu: #1B2850;
    --base-secundary-link: #FF9F43;

    --bs-blue: #038edc;
    --bs-indigo: #564ab1;
    --bs-purple: #1f58c7;
    --bs-pink: #e83e8c;
    --bs-red: #ed5555;
    --bs-orange: #f1734f;
    --bs-yellow: #f4c238;
    --bs-green: #28b765;
    --bs-teal: #050505;
    --bs-cyan: #52c6ea;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #a4a9b4;
    --bs-gray-dark: #1f2224;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #f5f6f8;
    --bs-gray-300: #e4e4e5;
    --bs-gray-400: #e2e5e8;
    --bs-gray-500: #7d8287;
    --bs-gray-600: #a4a9b4;
    --bs-gray-700: #282c2f;
    --bs-gray-800: #1f2224;
    --bs-gray-900: #131516;
    --bs-primary: #1f58c7;
    --bs-secondary: #a4a9b4;
    --bs-success: #28b765;
    --bs-info: #52c6ea;
    --bs-warning: #f4c238;
    --bs-danger: #ed5555;
    --bs-pink: #e83e8c;
    --bs-light: #f5f6f8;
    --bs-dark: #131516;
    --bs-white: #fff;
    --bs-purple: #1f58c7;
    --bs-primary-rgb: 31, 88, 199;
    --bs-secondary-rgb: 164, 169, 180;
    --bs-success-rgb: 40, 183, 101;
    --bs-info-rgb: 82, 198, 234;
    --bs-warning-rgb: 244, 194, 56;
    --bs-danger-rgb: 237, 85, 85;
    --bs-pink-rgb: 232, 62, 140;
    --bs-light-rgb: 245, 246, 248;
    --bs-dark-rgb: 19, 21, 22;
    --bs-white-rgb: 255, 255, 255;
    --bs-purple-rgb: 31, 88, 199;
    --bs-primary-text-emphasis: #0c2350;
    --bs-secondary-text-emphasis: #424448;
    --bs-success-text-emphasis: #104928;
    --bs-info-text-emphasis: #214f5e;
    --bs-warning-text-emphasis: #624e16;
    --bs-danger-text-emphasis: #5f2222;
    --bs-light-text-emphasis: #282c2f;
    --bs-dark-text-emphasis: #282c2f;
    --bs-primary-bg-subtle: #d2def4;
    --bs-secondary-bg-subtle: #edeef0;
    --bs-success-bg-subtle: #d4f1e0;
    --bs-info-bg-subtle: #dcf4fb;
    --bs-warning-bg-subtle: #fdf3d7;
    --bs-danger-bg-subtle: #fbdddd;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #e2e5e8;
    --bs-primary-border-subtle: #a5bce9;
    --bs-secondary-border-subtle: #dbdde1;
    --bs-success-border-subtle: #a9e2c1;
    --bs-info-border-subtle: #bae8f7;
    --bs-warning-border-subtle: #fbe7af;
    --bs-danger-border-subtle: #f8bbbb;
    --bs-light-border-subtle: #f5f6f8;
    --bs-dark-border-subtle: #7d8287;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-font-sans-serif: "IBM Plex Sans", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 0.925rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #282c2f;
    --bs-body-color-rgb: 40, 44, 47;
    --bs-body-bg: #f8f9fb;
    --bs-body-bg-rgb: 248, 249, 251;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: #a4a9b4;
    --bs-secondary-color-rgb: 164, 169, 180;
    --bs-secondary-bg: #fff;
    --bs-secondary-bg-rgb: 255, 255, 255;
    --bs-tertiary-color: rgba(40, 44, 47, 0.5);
    --bs-tertiary-color-rgb: 40, 44, 47;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-heading-color: #35415a;
    --bs-link-color: #1f58c7;
    --bs-link-color-rgb: 31, 88, 199;
    --bs-link-decoration: none;
    --bs-link-hover-color: #19469f;
    --bs-link-hover-color-rgb: 25, 70, 159;
    --bs-code-color: #e83e8c;
    --bs-highlight-color: #282c2f;
    --bs-highlight-bg: #fcf8e3;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dddddd;
    --bs-border-color-translucent: #eff0f2;
    --bs-border-radius: 0.75rem;
    --bs-border-radius-sm: 0.5rem;
    --bs-border-radius-lg: 0.6rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0px 6px #ebeef4;
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 5px 6px rgba(19, 21, 22, 0.1);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(31, 88, 199, 0.25);
    --bs-form-valid-color: #28b765;
    --bs-form-valid-border-color: #28b765;
    --bs-form-invalid-color: #ed5555;
    --bs-form-invalid-border-color: #ed5555;
    /* btn */
    --bs-btn-color: #fff;
    --bs-btn-bg: #1f58c7;
    --bs-btn-border-color: #1f58c7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1a4ba9;
    --bs-btn-hover-border-color: #19469f;
    --bs-btn-focus-shadow-rgb: 65, 113, 207;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #19469f;
    --bs-btn-active-border-color: #174295;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1f58c7;
    --bs-btn-disabled-border-color: #1f58c7;

}
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: rgb(255, 255, 255) !important;
        --secundary-color: rgb(255, 255, 255) !important;
        --tertiary-color: rgb(8, 48, 100) !important;
        --fourth-color: rgba(240, 239, 239, 0.9) !important;
        --fifty-color: rgba(222, 222, 222, 0.9) !important;
    
        --font: "Open Sans", sans-serif !important;
        --font-primary-color: #222222 !important;
        --font-secundary-color: rgb(11, 89, 153) !important;
        --font-tertiary-color: rgb(0, 191, 165) !important;
        --font-fourth-color: #444444 !important;
    }
}
