@page
@using API.Controllers;
@using CAPA_DATOS.Security;
@using CAPA_DATOS;
@using CAPA_DATOS.Services
@using CAPA_NEGOCIO.Gestion_Pagos.Model
@using CAPA_NEGOCIO.Gestion_Pagos.Model.PowerTranzTpv
@using CAPA_NEGOCIO.Gestion_Pagos.Operations
@using DataBaseModel;
@{
	string? identify = HttpContext?.Session.GetString("seassonKey");
	if (!SecurityController.HavePermission(identify, Permissions.GESTION_ESTUDIANTES_PROPIOS))
	{
		Response.Redirect("/Security/Login");
		return;
	}
	// double pagoTotal = 0;
	//PagosRequest? pagosRequest = PagosOperation.GetPagoARealizar(identify);
	PowerTranzTpvResponse? pagosResponse = SeasonServices.Get<PowerTranzTpvResponse>("PAGO_PROCESO_RESPONSE", identify);
}
<div>
	 @* <button onclick="printIframe()" class="btn-success">Print</button> *@
	
	<iframe id="paymentFrame" style="width: 100%; height: 600px;" src="data:text/html;charset=utf-8,@pagosResponse?.RedirectData" frameborder="0"></iframe>
    <a style="float: left; margin: 10px" href="https://portal.cca.edu.ni/Gestion_Pagos/Historial_Pagos" class="btn-success">Historial</a>

	<script type="text/javascript">
		function printIframe() {
			var iframe = document.getElementById('paymentFrame');
			iframe.contentWindow.focus();
			iframe.contentWindow.print();
		}
	</script>
	
   @*  @Html.Raw(pagosResponse.RedirectData);*@
</div>
@* <form method="get" asp-controller="ApiPagos" asp-action="AutorizarPago">

	<div>
		<button class="btn btn-success" type="submit">Pagar</button>
	</div>
</form> *@