@page
@using API.Controllers
@using APPCORE.Security
@using DataBaseModel
@{
    string identify = HttpContext.Session.GetString("seassonKey");
    var pageConfig = Config.pageConfig();
    if (!SecurityController.HavePermission(HttpContext.Session.GetString("seassonKey"), Permissions.ADMIN_PANEL_ACCESS))
    {
        Response.Redirect("./login");
        return;
    }
}
<script type="module">
   
</script>
@if (SecurityController.HavePermission(HttpContext.Session.GetString("seassonKey"), Permissions.ADMIN_PANEL_ACCESS))
{
    <script src="~/WDevCore/Security/AdminSecurity.js" type="module"></script>
} 
@if (SecurityController.HavePermission(HttpContext.Session.GetString("seassonKey"), Permissions.ADMIN_PANEL_ACCESS))
{
    <script  src="~/Admin/AdminConfig.js" type="module"></script>
} 
<div id="Aside"></div>
<div id="Main"></div>


