@page
@using API.Controllers
@using CAPA_DATOS.Security
@using DataBaseModel
@{
    string? identify = HttpContext?.Session.GetString("seassonKey");
    var pageConfig = Config.pageConfig();
    if (!SecurityController.HavePermission(identify, Permissions.SEND_MESSAGE))
    {
        Response.Redirect("/");
        return;
    }
}
<script type="module">
   import {MensajesView} from "/Gestion_Mensajes/MensajesView.mjs";
    window.onload = ()=> {
        Main.append(new MensajesView());
    }
</script>
<div id="Main"></div>