@page
@using API.Controllers
@using CAPA_DATOS.Security
@using DataBaseModel
@{
    string? identify = HttpContext?.Session.GetString("seassonKey");
    var pageConfig = Config.pageConfig();
    if (!SecurityController.HavePermission(identify, Permissions.NOTIFICACIONES_READER))
    {
        Response.Redirect("./");
        return;
    }
}
<script type="module">
    import {NotificacionesManagerView} from "/Gestion_Mensajes/NotificacionesManagerView.mjs";
    window.onload = ()=> {
        Main.append(new NotificacionesManagerView());
    } 
</script>
<div id="Main"></div>