CREATE DATABASE [SIAC_CCA] 
GO
USE [SIAC_CCA]
GO
/****** Object:  Schema [administrative_access]    Script Date: 3/8/2024 18:29:47 ******/
CREATE SCHEMA [administrative_access]
GO
/****** Object:  Schema [security]    Script Date: 3/8/2024 18:29:47 ******/
CREATE SCHEMA [security]
GO
/****** Object:  Table [administrative_access].[Transactional_Configuraciones]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [administrative_access].[Transactional_Configuraciones](
	[Id_Configuracion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Valor] [nvarchar](max) NULL,
	[Tipo_Configuracion] [varchar](100) NULL,
 CONSTRAINT [PK_Transactional_Configuraciones] PRIMARY KEY CLUSTERED 
(
	[Id_Configuracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asignaturas]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asignaturas](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[nombre_corto] [nvarchar](255) NOT NULL,
	[observaciones] [nvarchar](max) NULL,
	[nivel_id] [int] NOT NULL,
	[habilitado] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[orden] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[calificaciones]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calificaciones](
	[id] [int] NOT NULL,
	[resultado] [decimal](5, 2) NULL,
	[tipo_nota_id] [int] NULL,
	[evaluacion_id] [int] NULL,
	[observaciones] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[consolidado_id] [int] NULL,
	[estudiante_clase_id] [int] NULL,
	[materia_id] [int] NULL,
	[periodo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clases]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clases](
	[id] [int] NOT NULL,
	[grado] [int] NOT NULL,
	[nivel_id] [int] NOT NULL,
	[periodo_lectivo_id] [int] NOT NULL,
	[observaciones] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[docente_asignaturas]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docente_asignaturas](
	[id] [int] NOT NULL,
	[docente_id] [int] NOT NULL,
	[asignatura_id] [int] NOT NULL,
	[jefe] [bit] NULL,
	[observaciones] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[docente_materias]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docente_materias](
	[id] [int] NOT NULL,
	[materia_id] [int] NULL,
	[seccion_id] [int] NULL,
	[docente_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[docentes]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docentes](
	[id] [int] NOT NULL,
	[primer_nombre] [nvarchar](255) NOT NULL,
	[segundo_nombre] [nvarchar](255) NULL,
	[primer_apellido] [nvarchar](255) NOT NULL,
	[segundo_apellido] [nvarchar](255) NULL,
	[sexo] [nvarchar](255) NULL,
	[fecha_nacimiento] [date] NULL,
	[lugar_nacimiento] [nvarchar](255) NULL,
	[direccion] [nvarchar](255) NULL,
	[telefono] [nvarchar](255) NULL,
	[celular] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[estado_civil_id] [int] NULL,
	[religion_id] [int] NULL,
	[escolaridad_id] [int] NULL,
	[foto] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[habilitado] [bit] NULL,
	[cargo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[escolaridades]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[escolaridades](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiante_clases]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiante_clases](
	[id] [int] NOT NULL,
	[estudiante_id] [int] NOT NULL,
	[periodo_lectivo_id] [int] NOT NULL,
	[clase_id] [int] NOT NULL,
	[seccion_id] [int] NULL,
	[transferido] [date] NULL,
	[retirado] [date] NULL,
	[observaciones] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[promedio] [decimal](5, 2) NULL,
	[repitente] [bit] NULL,
	[reprobadas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiantes]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantes](
	[id] [int] NOT NULL,
	[primer_nombre] [nvarchar](255) NOT NULL,
	[segundo_nombre] [nvarchar](255) NULL,
	[primer_apellido] [nvarchar](255) NOT NULL,
	[segundo_apellido] [nvarchar](255) NULL,
	[fecha_nacimiento] [date] NULL,
	[lugar_nacimiento] [nvarchar](255) NULL,
	[sexo] [nvarchar](255) NULL,
	[direccion] [nvarchar](255) NULL,
	[codigo] [nvarchar](255) NULL,
	[religion_id] [int] NULL,
	[madre_id] [int] NULL,
	[padre_id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[foto] [nvarchar](255) NULL,
	[peso] [float] NULL,
	[altura] [float] NULL,
	[tipo_sangre] [nvarchar](255) NULL,
	[padecimientos] [nvarchar](max) NULL,
	[alergias] [nvarchar](max) NULL,
	[recorrido_id] [int] NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluaciones]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluaciones](
	[id] [int] NOT NULL,
	[fecha] [date] NULL,
	[hora] [time](7) NULL,
	[tipo] [nvarchar](255) NOT NULL,
	[porcentaje] [decimal](5, 2) NULL,
	[materia_id] [int] NOT NULL,
	[seccion_id] [int] NULL,
	[observaciones] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[periodo] [int] NULL,
	[nota_maxima] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id_Log] [int] IDENTITY(1,1) NOT NULL,
	[LogType] [nvarchar](max) NULL,
	[Fecha] [datetime] NULL,
	[message] [varchar](max) NULL,
	[body] [nvarchar](max) NULL,
	Id_User int NULL,
 CONSTRAINT [PK_CaseTable_Agendas] PRIMARY KEY CLUSTERED 
(
	[Id_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materias]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materias](
	[id] [int] NOT NULL,
	[clase_id] [int] NOT NULL,
	[asignatura_id] [int] NOT NULL,
	[observaciones] [nvarchar](max) NULL,
	[config] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[lock_version] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[niveles]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[niveles](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[nombre_corto] [nvarchar](255) NOT NULL,
	[nombre_grado] [nvarchar](255) NOT NULL,
	[numero_grados] [int] NOT NULL,
	[observaciones] [nvarchar](max) NULL,
	[habilitado] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[orden] [int] NULL,
	[inicio_grado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parientes]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parientes](
	[id] [int] NOT NULL,
	[primer_nombre] [nvarchar](255) NOT NULL,
	[segundo_nombre] [nvarchar](255) NULL,
	[primer_apellido] [nvarchar](255) NOT NULL,
	[segundo_apellido] [nvarchar](255) NULL,
	[sexo] [nvarchar](255) NULL,
	[profesion] [nvarchar](255) NULL,
	[direccion] [nvarchar](255) NULL,
	[lugar_trabajo] [nvarchar](255) NULL,
	[telefono] [nvarchar](255) NULL,
	[celular] [nvarchar](255) NULL,
	[telefono_trabajo] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[estado_civil_id] [int] NULL,
	[religion_id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[periodo_lectivos]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[periodo_lectivos](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[nombre_corto] [nvarchar](255) NOT NULL,
	[inicio] [date] NOT NULL,
	[fin] [date] NOT NULL,
	[observaciones] [nvarchar](max) NULL,
	[config] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[abierto] [bit] NULL,
	[oculto] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[responsables]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[responsables](
	[id] [int] NOT NULL,
	[estudiante_id] [int] NOT NULL,
	[pariente_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[parentesco] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[secciones]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[secciones](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[clase_id] [int] NOT NULL,
	[docente_id] [int] NULL,
	[observaciones] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_notas]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_notas](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[nombre_corto] [nvarchar](255) NOT NULL,
	[periodo_lectivo_id] [int] NOT NULL,
	[consolidado_id] [int] NULL,
	[numero_consolidados] [int] NULL,
	[observaciones] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[orden] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [security].[Cat_Paises]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Cat_Paises](
	[Id_Pais] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Nacionalidad] PRIMARY KEY CLUSTERED 
(
	[Id_Pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Permissions]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Permissions](
	[Id_Permission] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Estado] [nvarchar](50) NULL,
	[Detalles] [nvarchar](500) NULL,
 CONSTRAINT [PK_Security_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id_Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Permissions_Roles]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Permissions_Roles](
	[Id_Role] [int] NOT NULL,
	[Id_Permission] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Permissions_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC,
	[Id_Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Roles]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Roles](
	[Id_Role] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Users]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](150) NULL,
	[Estado] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Password] [nvarchar](500) NULL,
	[Mail] [nvarchar](150) NULL,
	[Token] [nvarchar](500) NULL,
	[Token_Date] [datetime] NULL,
	[Token_Expiration_Date] [datetime] NULL,
 CONSTRAINT [PK_Security_Users] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Users_Roles]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Users_Roles](
	[Id_Role] [int] NOT NULL,
	[Id_User] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Users_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC,
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Tbl_Profile]    Script Date: 3/8/2024 18:29:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Tbl_Profile](
	[Id_Perfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[FechaNac] [date] NULL,
	[IdUser] [int] NULL,
	[Sexo] [nvarchar](50) NULL,
	[Foto] [nvarchar](max) NULL,
	[DNI] [nvarchar](50) NULL,
	[Correo_institucional] [nvarchar](50) NULL,
	[Id_Pais_Origen] [int] NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_InvestigatorProfile] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [administrative_access].[Transactional_Configuraciones] ON 

INSERT [administrative_access].[Transactional_Configuraciones] ([Id_Configuracion], [Nombre], [Descripcion], [Valor], [Tipo_Configuracion]) VALUES (1, N'TITULO', N'Encabezado de página', N'Colegio Centro América ', N'THEME')
INSERT [administrative_access].[Transactional_Configuraciones] ([Id_Configuracion], [Nombre], [Descripcion], [Valor], [Tipo_Configuracion]) VALUES (2, N'SUB_TITULO', N'Subtitulo que se muestra en el encabezado', N'', N'THEME')
INSERT [administrative_access].[Transactional_Configuraciones] ([Id_Configuracion], [Nombre], [Descripcion], [Valor], [Tipo_Configuracion]) VALUES (3, N'NOMBRE_EMPRESA', N'nombre de la empresa', N'Colegio Centro América', N'THEME')
SET IDENTITY_INSERT [administrative_access].[Transactional_Configuraciones] OFF
GO
SET IDENTITY_INSERT [security].[Security_Permissions] ON 

INSERT [security].[Security_Permissions] ([Id_Permission], [Descripcion], [Estado], [Detalles]) VALUES (1, N'ADMIN_ACCESS', N'Activo', N'ACCESO TOTAL DEL SISTEMA')
INSERT [security].[Security_Permissions] ([Id_Permission], [Descripcion], [Estado], [Detalles]) VALUES (2, N'PERFIL_ACCESS', N'Activo', N'PERMITE ACCEDER AL PERFIL DEL USUARIO')
INSERT [security].[Security_Permissions] ([Id_Permission], [Descripcion], [Estado], [Detalles]) VALUES (3, N'PERFIL_MANAGER', N'Activo', N'PERMITE MANIPULAR PERFILES DE LOS USUARIO')
SET IDENTITY_INSERT [security].[Security_Permissions] OFF
GO
INSERT [security].[Security_Permissions_Roles] ([Id_Role], [Id_Permission], [Estado]) VALUES (1, 1, N'ACTIVO')
GO
SET IDENTITY_INSERT [security].[Security_Roles] ON 

INSERT [security].[Security_Roles] ([Id_Role], [Descripcion], [Estado]) VALUES (1, N'ADMIN', N'ACTIVO')
SET IDENTITY_INSERT [security].[Security_Roles] OFF
GO
SET IDENTITY_INSERT [security].[Security_Users] ON 

INSERT [security].[Security_Users] ([Id_User], [Nombres], [Estado], [Descripcion], [Password], [Mail], [Token], [Token_Date], [Token_Expiration_Date]) VALUES (1, N'ADMIN', N'ACTIVO', N'ADMIN', N'PxI/Pz8/Pz8/PwdSP2E/Pw==', N'admin@admin.net', NULL, NULL, NULL)
SET IDENTITY_INSERT [security].[Security_Users] OFF
GO
INSERT [security].[Security_Users_Roles] ([Id_Role], [Id_User], [Estado]) VALUES (1, 1, N'ACTIVO')
GO
SET IDENTITY_INSERT [security].[Tbl_Profile] ON 

INSERT [security].[Tbl_Profile] ([Id_Perfil], [Nombres], [Apellidos], [FechaNac], [IdUser], [Sexo], [Foto], [DNI], [Correo_institucional], [Id_Pais_Origen], [Estado]) VALUES (1, N'ADMIN', N'ADMIN', CAST(N'1900-01-01' AS Date), 1, N'Masculino', N'\Media\profiles\avatar.png', N'1112dfg', N'admin@admin.net', NULL, N'ACTIVO')
SET IDENTITY_INSERT [security].[Tbl_Profile] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Transactional_Configuraciones_UN]    Script Date: 3/8/2024 18:29:47 ******/
ALTER TABLE [administrative_access].[Transactional_Configuraciones] ADD  CONSTRAINT [Transactional_Configuraciones_UN] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_asignaturas_on_nivel_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_asignaturas_on_nivel_id] ON [dbo].[asignaturas]
(
	[nivel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_calificaciones_on_consolidado_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_calificaciones_on_consolidado_id] ON [dbo].[calificaciones]
(
	[consolidado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_calificaciones_on_evaluacion_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_calificaciones_on_evaluacion_id] ON [dbo].[calificaciones]
(
	[evaluacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_calificaciones_on_materia_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_calificaciones_on_materia_id] ON [dbo].[calificaciones]
(
	[materia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_calificaciones_on_periodo]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_calificaciones_on_periodo] ON [dbo].[calificaciones]
(
	[periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_calificaciones_on_resultado]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_calificaciones_on_resultado] ON [dbo].[calificaciones]
(
	[resultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_calificaciones_on_tipo_nota_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_calificaciones_on_tipo_nota_id] ON [dbo].[calificaciones]
(
	[tipo_nota_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_calificaciones_on_varias_columnas]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_calificaciones_on_varias_columnas] ON [dbo].[calificaciones]
(
	[estudiante_clase_id] ASC,
	[tipo_nota_id] ASC,
	[materia_id] ASC,
	[periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_clases_on_nivel_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_clases_on_nivel_id] ON [dbo].[clases]
(
	[nivel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_clases_on_periodo_lectivo_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_clases_on_periodo_lectivo_id] ON [dbo].[clases]
(
	[periodo_lectivo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_docente_asignaturas_on_asignatura_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_docente_asignaturas_on_asignatura_id] ON [dbo].[docente_asignaturas]
(
	[asignatura_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_docente_asignaturas_on_docente_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_docente_asignaturas_on_docente_id] ON [dbo].[docente_asignaturas]
(
	[docente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_docente_materias_on_docente_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_docente_materias_on_docente_id] ON [dbo].[docente_materias]
(
	[docente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_docente_materias_on_materia_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_docente_materias_on_materia_id] ON [dbo].[docente_materias]
(
	[materia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_docente_materias_on_seccion_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_docente_materias_on_seccion_id] ON [dbo].[docente_materias]
(
	[seccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_docentes_on_escolaridad_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_docentes_on_escolaridad_id] ON [dbo].[docentes]
(
	[escolaridad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_docentes_on_estado_civil_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_docentes_on_estado_civil_id] ON [dbo].[docentes]
(
	[estado_civil_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_docentes_on_religion_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_docentes_on_religion_id] ON [dbo].[docentes]
(
	[religion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_estudiante_clases_on_clase_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_estudiante_clases_on_clase_id] ON [dbo].[estudiante_clases]
(
	[clase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_estudiante_clases_on_estudiante_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_estudiante_clases_on_estudiante_id] ON [dbo].[estudiante_clases]
(
	[estudiante_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_estudiante_clases_on_periodo_lectivo_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_estudiante_clases_on_periodo_lectivo_id] ON [dbo].[estudiante_clases]
(
	[periodo_lectivo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_estudiante_clases_on_seccion_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_estudiante_clases_on_seccion_id] ON [dbo].[estudiante_clases]
(
	[seccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_estudiantes_on_madre_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_estudiantes_on_madre_id] ON [dbo].[estudiantes]
(
	[madre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_estudiantes_on_padre_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_estudiantes_on_padre_id] ON [dbo].[estudiantes]
(
	[padre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_estudiantes_on_recorrido_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_estudiantes_on_recorrido_id] ON [dbo].[estudiantes]
(
	[recorrido_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_estudiantes_on_religion_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_estudiantes_on_religion_id] ON [dbo].[estudiantes]
(
	[religion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_evaluaciones_on_materia_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_evaluaciones_on_materia_id] ON [dbo].[evaluaciones]
(
	[materia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_evaluaciones_on_seccion_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_evaluaciones_on_seccion_id] ON [dbo].[evaluaciones]
(
	[seccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_materias_on_asignatura_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_materias_on_asignatura_id] ON [dbo].[materias]
(
	[asignatura_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_materias_on_clase_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_materias_on_clase_id] ON [dbo].[materias]
(
	[clase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_parientes_on_estado_civil_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_parientes_on_estado_civil_id] ON [dbo].[parientes]
(
	[estado_civil_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_parientes_on_religion_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_parientes_on_religion_id] ON [dbo].[parientes]
(
	[religion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_responsables_on_estudiante_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_responsables_on_estudiante_id] ON [dbo].[responsables]
(
	[estudiante_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_responsables_on_pariente_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_responsables_on_pariente_id] ON [dbo].[responsables]
(
	[pariente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_secciones_on_clase_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_secciones_on_clase_id] ON [dbo].[secciones]
(
	[clase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_secciones_on_docente_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_secciones_on_docente_id] ON [dbo].[secciones]
(
	[docente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_tipo_notas_on_consolidado_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_tipo_notas_on_consolidado_id] ON [dbo].[tipo_notas]
(
	[consolidado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [index_tipo_notas_on_periodo_lectivo_id]    Script Date: 3/8/2024 18:29:47 ******/
CREATE NONCLUSTERED INDEX [index_tipo_notas_on_periodo_lectivo_id] ON [dbo].[tipo_notas]
(
	[periodo_lectivo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[materias] ADD  DEFAULT ((0)) FOR [lock_version]
GO
ALTER TABLE [dbo].[asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_asignaturas_niveles] FOREIGN KEY([nivel_id])
REFERENCES [dbo].[niveles] ([id])
GO
ALTER TABLE [dbo].[asignaturas] CHECK CONSTRAINT [FK_asignaturas_niveles]
GO
ALTER TABLE [dbo].[calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_calificaciones_estudiante_clases] FOREIGN KEY([estudiante_clase_id])
REFERENCES [dbo].[estudiante_clases] ([id])
GO
ALTER TABLE [dbo].[calificaciones] CHECK CONSTRAINT [FK_calificaciones_estudiante_clases]
GO
ALTER TABLE [dbo].[calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_calificaciones_evaluaciones] FOREIGN KEY([evaluacion_id])
REFERENCES [dbo].[evaluaciones] ([id])
GO
ALTER TABLE [dbo].[calificaciones] CHECK CONSTRAINT [FK_calificaciones_evaluaciones]
GO
ALTER TABLE [dbo].[calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_calificaciones_tipo_notas] FOREIGN KEY([tipo_nota_id])
REFERENCES [dbo].[tipo_notas] ([id])
GO
ALTER TABLE [dbo].[calificaciones] CHECK CONSTRAINT [FK_calificaciones_tipo_notas]
GO
ALTER TABLE [dbo].[docente_asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_docente_asignaturas_asignaturas] FOREIGN KEY([asignatura_id])
REFERENCES [dbo].[asignaturas] ([id])
GO
ALTER TABLE [dbo].[docente_asignaturas] CHECK CONSTRAINT [FK_docente_asignaturas_asignaturas]
GO
ALTER TABLE [dbo].[docente_asignaturas]  WITH CHECK ADD  CONSTRAINT [FK_docente_asignaturas_docentes] FOREIGN KEY([docente_id])
REFERENCES [dbo].[docentes] ([id])
GO
ALTER TABLE [dbo].[docente_asignaturas] CHECK CONSTRAINT [FK_docente_asignaturas_docentes]
GO
ALTER TABLE [dbo].[docente_materias]  WITH CHECK ADD  CONSTRAINT [FK_docente_materias_docentes] FOREIGN KEY([docente_id])
REFERENCES [dbo].[docentes] ([id])
GO
ALTER TABLE [dbo].[docente_materias] CHECK CONSTRAINT [FK_docente_materias_docentes]
GO
ALTER TABLE [dbo].[docente_materias]  WITH CHECK ADD  CONSTRAINT [FK_docente_materias_materias] FOREIGN KEY([materia_id])
REFERENCES [dbo].[materias] ([id])
GO
ALTER TABLE [dbo].[docente_materias] CHECK CONSTRAINT [FK_docente_materias_materias]
GO
ALTER TABLE [dbo].[docente_materias]  WITH CHECK ADD  CONSTRAINT [FK_docente_materias_secciones] FOREIGN KEY([seccion_id])
REFERENCES [dbo].[secciones] ([id])
GO
ALTER TABLE [dbo].[docente_materias] CHECK CONSTRAINT [FK_docente_materias_secciones]
GO
ALTER TABLE [dbo].[docentes]  WITH CHECK ADD  CONSTRAINT [FK_docentes_escolaridades] FOREIGN KEY([escolaridad_id])
REFERENCES [dbo].[escolaridades] ([id])
GO
ALTER TABLE [dbo].[docentes] CHECK CONSTRAINT [FK_docentes_escolaridades]
GO
ALTER TABLE [dbo].[estudiante_clases]  WITH CHECK ADD  CONSTRAINT [FK_estudiante_clases_clases] FOREIGN KEY([clase_id])
REFERENCES [dbo].[clases] ([id])
GO
ALTER TABLE [dbo].[estudiante_clases] CHECK CONSTRAINT [FK_estudiante_clases_clases]
GO
ALTER TABLE [dbo].[estudiante_clases]  WITH CHECK ADD  CONSTRAINT [FK_estudiante_clases_estudiantes] FOREIGN KEY([estudiante_id])
REFERENCES [dbo].[estudiantes] ([id])
GO
ALTER TABLE [dbo].[estudiante_clases] CHECK CONSTRAINT [FK_estudiante_clases_estudiantes]
GO
ALTER TABLE [dbo].[estudiante_clases]  WITH CHECK ADD  CONSTRAINT [FK_estudiante_clases_periodo_lectivos] FOREIGN KEY([periodo_lectivo_id])
REFERENCES [dbo].[periodo_lectivos] ([id])
GO
ALTER TABLE [dbo].[estudiante_clases] CHECK CONSTRAINT [FK_estudiante_clases_periodo_lectivos]
GO
ALTER TABLE [dbo].[estudiante_clases]  WITH CHECK ADD  CONSTRAINT [FK_estudiante_clases_secciones] FOREIGN KEY([seccion_id])
REFERENCES [dbo].[secciones] ([id])
GO
ALTER TABLE [dbo].[estudiante_clases] CHECK CONSTRAINT [FK_estudiante_clases_secciones]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [FK_evaluaciones_materias] FOREIGN KEY([materia_id])
REFERENCES [dbo].[materias] ([id])
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [FK_evaluaciones_materias]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [FK_evaluaciones_secciones] FOREIGN KEY([seccion_id])
REFERENCES [dbo].[secciones] ([id])
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [FK_evaluaciones_secciones]
GO
ALTER TABLE [dbo].[materias]  WITH CHECK ADD  CONSTRAINT [FK_materias_asignaturas] FOREIGN KEY([asignatura_id])
REFERENCES [dbo].[asignaturas] ([id])
GO
ALTER TABLE [dbo].[materias] CHECK CONSTRAINT [FK_materias_asignaturas]
GO
ALTER TABLE [dbo].[materias]  WITH CHECK ADD  CONSTRAINT [FK_materias_clases] FOREIGN KEY([clase_id])
REFERENCES [dbo].[clases] ([id])
GO
ALTER TABLE [dbo].[materias] CHECK CONSTRAINT [FK_materias_clases]
GO
ALTER TABLE [dbo].[responsables]  WITH CHECK ADD  CONSTRAINT [FK_responsables_estudiantes] FOREIGN KEY([estudiante_id])
REFERENCES [dbo].[estudiantes] ([id])
GO
ALTER TABLE [dbo].[responsables] CHECK CONSTRAINT [FK_responsables_estudiantes]
GO
ALTER TABLE [dbo].[responsables]  WITH CHECK ADD  CONSTRAINT [FK_responsables_parientes] FOREIGN KEY([pariente_id])
REFERENCES [dbo].[parientes] ([id])
GO
ALTER TABLE [dbo].[responsables] CHECK CONSTRAINT [FK_responsables_parientes]
GO
ALTER TABLE [security].[Security_Permissions_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Permissions_Roles_Security_Permissions] FOREIGN KEY([Id_Permission])
REFERENCES [security].[Security_Permissions] ([Id_Permission])
GO
ALTER TABLE [security].[Security_Permissions_Roles] CHECK CONSTRAINT [FK_Security_Permissions_Roles_Security_Permissions]
GO
ALTER TABLE [security].[Security_Permissions_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Permissions_Roles_Security_Roles] FOREIGN KEY([Id_Role])
REFERENCES [security].[Security_Roles] ([Id_Role])
GO
ALTER TABLE [security].[Security_Permissions_Roles] CHECK CONSTRAINT [FK_Security_Permissions_Roles_Security_Roles]
GO
ALTER TABLE [security].[Security_Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Roles_Security_Roles] FOREIGN KEY([Id_Role])
REFERENCES [security].[Security_Roles] ([Id_Role])
GO
ALTER TABLE [security].[Security_Users_Roles] CHECK CONSTRAINT [FK_Security_Users_Roles_Security_Roles]
GO
ALTER TABLE [security].[Security_Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Roles_Security_Users] FOREIGN KEY([Id_User])
REFERENCES [security].[Security_Users] ([Id_User])
GO
ALTER TABLE [security].[Security_Users_Roles] CHECK CONSTRAINT [FK_Security_Users_Roles_Security_Users]
GO
ALTER TABLE SIAC_CCA.dbo.clases ADD CONSTRAINT clases_FK FOREIGN KEY (nivel_id) REFERENCES SIAC_CCA.dbo.niveles(id);
-- siac_cca_production.mensaje_adjuntos definition

CREATE TABLE mensaje_adjuntos (
  id INT NOT NULL PRIMARY KEY,
  mensaje_id INT NULL,
  archivo NVARCHAR(255) NULL,
  created_at DATETIME NOT NULL,
  updated_at DATETIME NOT NULL,
  INDEX index_mensaje_adjuntos_on_mensaje_id (mensaje_id)
);

CREATE TABLE conversacion (
    id_conversacion INT IDENTITY(1, 1) NOT NULL PRIMARY KEY,
    descripcion NVARCHAR(255) NULL
);
CREATE TABLE conversacion_usuarios (
    id_conversacion INT NOT NULL ,
    id_usuario INT NOT NULL 
);
-- siac_cca_production.mensajes definition
CREATE TABLE mensajes (
    id_mensaje INT IDENTITY(1, 1) NOT  NULL PRIMARY KEY,
    remitente NVARCHAR(255) NULL,
    usuario_id INT NULL,
    destinatarios NVARCHAR(max) NULL,
    asunto NVARCHAR(255) NULL,
    mensaje NVARCHAR(MAX) NULL,
    id_conversacion INT NULL,
    created_at DATETIME NOT NULL,
    updated_at DATETIME NOT NULL,
    enviado BIT NULL,
    leido BIT NULL
);

go
USE [master]
GO
