@page
@using API.Controllers
@using APPCORE.Security
@using DataBaseModel
@{
    string? identify = HttpContext?.Session.GetString("seassonKey");
    var pageConfig = Config.pageConfig();
    if (!SecurityController.HavePermission(identify, Permissions.REPORTE_ACCESS))
    {
        Response.Redirect("/");
        return;
    }
}
<script type="module">
    import {Historial_PagosReportView} from "/Gestion_Pagos/Historial_PagosReportView.mjs";
    window.onload = ()=> {
        Main.append(new Historial_PagosReportView());
    } 
</script>
<div id="Main"></div>